<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/required.css{{version.cache}}" />
    <link rel="stylesheet" href="/css/main.css{{version.cache}}" />
    <script type="text/javascript" src="/js/script.js{{version.cache}}"></script>
</head>
<body>
<section class="hero-image-404"></section>
<section class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1 class="title-404">{{statusCode}} : {{errName}}</h1>
            <p class="p-404">{{errText}}</p>
        </div>
    </div>
</section>
</body>
</html>
